<!-- app/views/staffs/show.html.erb -->
<h1>一般社員ダッシュボード</h1>
<p>ようこそ、<%= current_staff.name %> さん！</p>
<nav>
  <ul>
    <li><%= link_to 'パスワードを変更する', edit_staff_path(current_staff) %></li>
  </ul>
</nav>
