<h2>Staff List</h2>

<table>
  <thead>
    <tr>
      <th>Employee Number</th>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @staffs.each do |staff| %>
      <tr>
        <td><%= staff.employee_number %></td>
        <td><%= staff.name %></td>
        <td>
          <%= link_to 'Delete', admin_panel_staff_path(staff), method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Staff', new_admin_panel_staff_path %>
