<div class="center-content container">
  <section class="text-center">
    <h1 class="display-4">ハインリッヒの法則</h1>
    <p class="lead">1件の重大事故に対して、29件の軽微な事故と300件のヒヤリハット（事故には至らないが危険な状況）が存在するという</p>
    <br>
    <p>普段の日常業務から年間1回程度の特殊な作業内で気づいた異常、その場でのミスの対応方法はあるか<br>
    皆で考え共有しましょう。<br>
    くれぐれも起因者を責めたりすることのないように。あくまでもヒヤリハットの共有が目的です！</p>
  </section>
</div>
