<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>TOPページ</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <h1>CM Watch</h1>
    </header>
    <main class="main-content centered-buttons">
        <section>
            <div class="button-block">
                <%= link_to '一般ユーザー ログイン', new_staff_session_path, class: 'btn btn-primary' %>
            </div>
            <div class="button-block">
                <%= link_to '管理者 ログイン', new_admin_session_path, class: 'btn btn-secondary' %>
            </div>
        </section>
    </main>
    <footer>
        <p>山田ファシリティーサービス株式会社 | XX-XXXX-XXXX</p>
    </footer>
</body>
</html>
