<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>TOPページ</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <h1>CM Watch</h1>
    </header>
    <main class="main-content centered-buttons"> <!-- クラスを追加 -->
        <section>
            <div class="button-block">
                <button onclick="location.href='<%= new_staff_registration_path %>'">一般ユーザー ログイン</button>
            </div>
            <div class="button-block">
                <button onclick="location.href='<%= new_admin_session_path %>'">管理者 ログイン</button>
            </div>
        </section>
    </main>
    <footer>
        <p>山田ファシリティーサービス株式会社 | XX-XXXX-XXXX</p>
    </footer>
</body>
</html>
