body {
  background-image: image-url('hoge.jpg');
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
  padding-top: 56px; /* ナビゲーションバーの高さに応じて調整 */
}

header {
  text-align: center;
  padding: 1rem;
}

.container {
  display: flex;
  flex-direction: row;
}

.sidebar {
  position: fixed;
  top: 56px; /* ナビゲーションバーの高さ */
  bottom: 0;
  left: 0;
  width: 250px; /* サイドバーの幅を調整 */
  height: calc(100vh - 56px); /* サイドバーの高さを画面全体に調整 */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
  background-color: #f8f9fa; /* サイドバーの背景色 */
  padding-top: 0; /* サイドバー内の余白をリセット */
  margin-top: -53px; /* 余白を微調整して重ならないようにする */
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 112px); /* ナビゲーションバーとフッターを除いた高さ */
  margin-top: 56px; /* ナビゲーションバーの高さを調整 */
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: #f8f9fa;
}

button {
  display: block;
  width: 33.33vw; /* ボタンの幅を全画面の1/3に設定 */
  padding: 1rem;
  margin: 1rem 0; /* ボタンの上下のマージンを調整 */
  font-size: 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.centered-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* セクションの高さを全高に設定 */
}

.button-block {
  display: block;
  width: 100%;
  text-align: center;
  margin: 1rem 0;
}

.table-bordered {
  border: 1px solid #dee2e6;
}

.table-bordered th,
.table-bordered td {
  border: 1px solid #dee2e6;
}

.table th,
.table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}
