body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  padding: 1rem;
}

.container {
  display: flex;
  flex-direction: row;
}

.sidebar {
  position: fixed;
  top: 56px; /* ナビゲーションバーの高さ */
  bottom: 0;
  left: 0;
  width: 250px; /* サイドバーの幅を調整 */
  height: calc(100vh - 56px); /* サイドバーの高さを画面全体に調整 */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
  background-color: #f8f9fa; /* サイドバーの背景色 */
  padding-top: 0; /* サイドバー内の余白をリセット */
  margin-top: -53px; /* 余白を微調整して重ならないようにする */
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 112px); /* ナビゲーションバーとフッターを除いた高さ */
  margin-top: 56px; /* ナビゲーションバーの高さを調整 */
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: #f8f9fa;
}

button {
  display: block;
  width: 33.33vw; /* ボタンの幅を全画面の1/3に設定 */
  padding: 1rem;
  margin: 1rem 0; /* ボタンの上下のマージンを調整 */
  font-size: 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.centered-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* セクションの高さを全高に設定 */
}

.button-block {
  display: block;
  width: 100%;
  text-align: center;
  margin: 1rem 0;
}

.table-bordered {
  border: 1px solid #dee2e6;
}

.table-bordered th,
.table-bordered td {
  border: 1px solid #dee2e6;
}

.table th,
.table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

.navbar-toggler {
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: #007bff; /* 背景色 */
    color: white; /* 文字色 */
    border-radius: 5px; /* 角を丸める */
    padding: 5px 10px; /* パディングを調整してサイズを小さく */
    font-size: 0.75em; /* フォントサイズを小さく */
    width: 10%; /* 横幅を1/10に設定 */
}

.sidebar.collapse {
  position: fixed;
  min-height: 100vh; /* 高さを画面全体に設定 */
  width: 20%; /* 横幅を1/5に設定 */
  top: 56px; /* ナビゲーションバーの高さに合わせて調整 */
  left: 0;
  z-index: 1000; /* サイドバーを前面に表示 */
  background-color: #fff; /* 背景色 */
  border: 1px solid #ddd; /* 境界線 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 影を追加 */
  overflow-y: auto; /* 縦方向のスクロールを許可 */
  -webkit-overflow-scrolling: touch; /* スムーズスクロールを有効にする */
}
