<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
        .center-content {
            display: flex;
            justify-content: center;
            align-items: center;
            height: calc(100vh - 200px); 
            text-align: center;
        }
        .center-content h1,
        .center-content p {
            margin: 0;
        }
        header, footer {
            height: 100px;
        }
    </style>
</head>
<body>
    <main class="main-content center-content">
        <div>
            <h1>ハインリッヒの法則</h1>
            <p>1件の重大事故に対して、29件の軽微な事故と300件のヒヤリハット（事故には至らないが危険な状況）が存在するという</p>
            <br>
            普段の日常業務から年間1回程度の特殊な作業内で気づいた異常、その場でのミスの対応方法はあるか<br>
            皆で考え共有しましょう。<br>
            くれぐれも起因者を責めたりすることのないように。あくまでもヒヤリハットの共有が目的です！
            <!-- 画像など時間あれば追加 -->
        </div>
    </main>
    <footer>
        <p>山田ファシリティーサービス株式会社 | XX-XXXX-XXXX</p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.amazonaws.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
